body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/assets/bg.jpeg");
    background-repeat:no-repeat;
    background-position: center center;
}

.title {
    text-align: center; 
    background-color: rgba(214, 204, 204, 0.479); 
    backdrop-filter: blur(5px);
}

.content {
    /* Semi-transparent background with blur effect */
    background-color: rgba(214, 204, 204, 0.479); 
    backdrop-filter: blur(5px);
}